a {
  color: inherit;
}

.bg-crazy-yellow {
  background: #FFFF00;
}

.dt {
  display: inherit;
}

.code, code {
  font-family: monospace;
}

blockquote {
  margin-left: 0;
  margin-top: 0;
  padding-left: 2rem;
  border-left-style: solid;
  border-color: #ff6300;
  border-width: 0.25rem;
}
