<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8"/>
  <title>Andrea Bedini - About</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/tachyons.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <style>
  </style>
  <body class="pa4-l avenir bg-white">
    <div class="pa3 pv6-l ph0-l black bg-crazy-yellow min-vh-100">
      <div class="center mw7">
        $partial("templates/nav.html")$
        $body$
        $partial("templates/footer.html")$
      </div>
    </div>
  </body>
</html>

