<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8"/>
  <title>Andrea Bedini - About</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/tachyons.min.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/style.css">
  <body class="pa4-l avenir bg-white">
    <div class="pa3 pv6-l ph0-l black bg-yellow min-vh-100">
      <div class="center mw8">
        $partial("templates/nav.html")$
        $if(face)$<img alt="my face" src="/images/avatar.svg" class="fr w4 mr4 my-face">$endif$
        $body$
        $partial("templates/footer.html")$
      </div>
    </div>
  </body>
</html>
