<!DOCTYPE html>
<html lang="en">
  <meta charset="utf-8"/>
  <title>Andrea Bedini - About</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/tachyons.min.css">
  <style>
    a { color: inherit; }
  </style>
  <body class="pa4-l avenir bg-white">
    <div class="pa3 ph0-l pv6-l" style="background: #FFFF00;">
      <div class="center mw7">
        $partial("templates/nav.html")$
        $body$
        $partial("templates/footer.html")$
      </div>
    </div>
  </body>
</html>

