<nav class="pv3 pv4-ns">
  <a class="f6 f5-ns mr3 link hover-bg-white" href="/about/" title="about">About</a>
  <span class="f6 f5-ns mr3">·</span>
  <a class="f6 f5-ns mr3 link hover-bg-white" href="/research/" title="Research">Research</a>
  <span class="f6 f5-ns mr3">·</span>
  <a class="f6 f5-ns mr3 link hover-bg-white" href="/teaching/" title="Teaching">Teaching</a>
  <span class="f6 f5-ns mr3">·</span>
  <a class="f6 f5-ns link hover-bg-white" href="/publications/" title="Publications">Publications</a>
  <a class="fr f6 f5-ns mr3 link hover-bg-white" href="/" title="Home">// andreabedini</a>
</nav>
