<nav class="pv3 pv4-ns">
  <a class="f6 f5-ns mr3 link" href="/" title="home">Home</a>
  <span class="f6 f5-ns mr3">·</span>
  <a class="f6 f5-ns mr3 link" href="/experience/" title="experience">Experience</a>
  <span class="f6 f5-ns mr3">·</span>
  <a class="f6 f5-ns mr3 link" href="/education/" title="education">Education</a>
  <span class="f6 f5-ns mr3">·</span>
  <a class="f6 f5-ns mr3 link" href="/academia/" title="Academia">Academia</a>
  <span class="f6 f5-ns mr3">·</span>
  <a class="f6 f5-ns mr3 link" href="/writings/" title="Writings">Writings</a>
  <a class="fr f6 f5-ns mr3 link" href="/" title="Home">// andreabedini</a>
</nav>
